@using EHospitalization.Areas.Identity.Models
@model LoginViewModel
@{
    Layout = null ;
    ViewBag.Title = "Log in";
}





<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="keywords" content="admin template, html 5 admin template , medixo admin , dashboard template, bootstrap 5 admin template, responsive admin template">
    <title>Medixo - Medical & Hospital Admin Template</title>
    <!-- shortcut icon-->
    <link rel="shortcut icon" href="~/Assets/AdminAssets/images/logo/icon-logo.png" type="image/x-icon">
    <!-- Fonts css-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <!-- Font awesome -->
    <link href="~/Assets/AdminAssets/css/vendor/font-awesome.css" rel="stylesheet">
    <link href="~/Assets/AdminAssets/css/vendor/themify-icons.css" rel="stylesheet">
    <link href="~/Assets/AdminAssets/css/vendor/icoicon.css" rel="stylesheet">
    <!-- Scrollbar-->
    <link href="~/Assets/AdminAssets/css/vendor/simplebar.css" rel="stylesheet">
    <!-- Bootstrap css-->
    <link href="~/Assets/AdminAssets/css/vendor/bootstrap.css" rel="stylesheet">
    <!-- Custom css-->
    <link href="~/Assets/AdminAssets/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Login Start-->
    <div class="auth-main">
        <div class="codex-authbox" style="min-width:630px;width:630px;margin:auto;background-color:#ffffff;padding:50px;border-radius:10px;border-bottom:10px solid #0c4079;box-shadow:0 0 20px 5px rgba(5,23,34,0.05);">
            <div class="auth-header">
                <div class="codex-brand"><a href="index.html"><img class="img-fluid light-logo" src="~/Assets/AdminAssets/images/logo/logo.png" alt=""></a></div>
                <h3>welcome to medixo</h3>
                <h6>don't have an account?@Html.ActionLink("creat an account", "register", new {@class="text-primary"})</h6>
            </div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {<form action="#" style="display: block; margin-top: 0em; unicode-bidi: isolate">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style="margin-bottom:20px;">
                        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" style="margin-bottom:20px;">
                        @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-0" style="margin-bottom:20px;">
                        <div class="auth-remember">
                            <div class="form-check custom-chek">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>@Html.ActionLink("Forgot Your Passord", "ForgotPassword", null, new {@class= "text-primary f-pwd" })
                       
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom:20px;">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-sign-in"></i> Login</button>
                    </div>
                </form>}
        <div class="auth-footer">
            <h5 class="auth-with">Or login in with     </h5>
            <ul class="login-list">
                <li><a class="bg-fb" href="javascript:void(0);"> <img class="img-fluid" src="~/Assets/AdminAssets/images/auth/1.png" alt="facebook">facebook</a></li>
                <li><a class="bg-google" href="javascript:void(0);"> <img class="img-fluid" src="~/Assets/AdminAssets/images/auth/2.png" alt="google">google</a></li>
            </ul>

            
        </div>
        </div>
    </div>
    <!-- Login End-->
    <!-- main jquery-->
    <script src="~/Assets/AdminAssets/js/jquery-3.7.0.min.js"></script>
    <!-- Feather iocns js-->
    <script src="~/Assets/AdminAssets/js/icons/feather-icon/feather.js"></script>
    <!-- Bootstrap js-->
    <script src="~/Assets/AdminAssets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/AdminAssets/js/vendors/notify/bootstrap-notify.js"></script>
    <script src="~/Assets/AdminAssets/js/vendors/notify/bootstrap-customnotify.js"></script>
    <!-- customizer-->
    <script src="~/Assets/AdminAssets/js/customizer.js"></script>
    <!-- Scrollbar-->
    <script src="~/Assets/AdminAssets/js/vendors/simplebar.js"></script>
    <!-- Custom script-->
    <script src="~/Assets/AdminAssets/js/custom-script.js"></script>
</body>
</html>


