@using EHospitalization.Areas.Identity.Models
@model LoginViewModel
@{
    Layout = "~/Areas/Identity/Views/Shared/_CustomLogin.cshtml"; ;
    ViewBag.Title = "Log in";
}
<div class="codex-authbox" style="min-width:630px;width:630px;margin:auto;background-color:#ffffff;padding:50px;border-radius:10px;border-bottom:10px solid #0c4079;box-shadow:0 0 20px 5px rgba(5,23,34,0.05);">
    <div class="auth-header">
        <div class="codex-brand"><a href="index.html"><img class="img-fluid light-logo" src="../assets/images/logo/logo.png" alt=""></a></div>
        <h3>welcome to medixo</h3>
        <h6>don't have an account? <a class="text-primary" href="register.html">creat an account</a></h6>
    </div>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {<form action="#" style="display: block; margin-top: 0em; unicode-bidi: isolate">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="margin-bottom:20px;">
                @Html.LabelFor(m => m.Email, new { @class = "form-label"  })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group"style="margin-bottom:20px;">
                @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mb-0" style="margin-bottom:20px;">
                <div class="auth-remember">
                    <div class="form-check custom-chek">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div><a class="text-primary f-pwd" href="forgot-password.html">Forgot your password?</a>
                </div>
            </div>
            <div class="form-group" style="margin-bottom:20px;">
                <button class="btn btn-primary" type="submit"><i class="fa fa-sign-in"></i> Login</button>
            </div>
        </form>}
    <div class="auth-footer">
        <h5 class="auth-with">Or login in with     </h5>
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>




